*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
h1,a,h3{ color: white;}
body{
	 background-color: pink;
	 background-repeat: no-repeat;
	 background-position: 0px -200px;
	 background-attachment: fixed;
	 background-size: cover;
	 display: flex;
	 flex-direction: column;
	 padding: 0px 0px;
	 top: 0;
	 min-height: 100vh;
	 width: 100vw;
	 height: 100dvh;
	 }
nav{
	background-color: #D69494;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
	z-index: 1;
	position: sticky;
	top: 0;
}
nav ul{
	width: 100%;
	list-style:none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 2;
}
nav li{
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
nav a:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
nav li:first-child{
	justify-content: center;
}
.footer{
	height: 35px;
	width: 100%;
	background-color: #D69494;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
	position: fixed;
	bottom: 0;
	left: 0;
}
.BookingForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1300px;
    margin: 20px;
}
.FormContent{
	position: center;
	border: solid #D69494;
	background-color: rgba(255, 255, 255, 0.2);
	align-content: center;
	text-align: center;
	height: 99%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 60%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 20px;
}
form{
	margin: auto;
}
.aftercarecontent{
	position: center;
	border: solid #D69494;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 20px;
}
.instructions{
	text-align: center;
}
.portfoliowhole{
	margin: 20px;
}
.layout-container{
	width: min(1000px, 100%);
	margin: 0 auto;
	columns: 3 300px;
	column-gap: 1em;
	padding: 20px;
}
img{
	display:block;
	margin-bottom:1em;
	width: 100%;
}
.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-shadow: 2px 2px 4px #000000;
	padding: 0 5px;
	-webkit-backdrop-filter: blur(10px);
}
.sidebar a{
	width: 100%;
}
.menu-button{
	display: none;
}
.cut-out{
	height: 400px;
	width: 100%;
}
.sidebar a:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.sidebar a li{
	width: 100%
}
.sidebar li:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.sidebar li{
	width: 100%;
	font-size: 20px;
	margin: 5px 0;
}
.deco{
	height: 500px;
	width: 100%;
	background-size: cover;
	background-image: url(background.jpg);
	padding: 50px 0px;
	border-top: 3px solid #D69494;
	box-shadow: 0 -15px 8px 0 rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cards{
	height: 465px;
	width: 100%;
	background-size: cover;
	background-image: url(background.jpg);
	border-bottom: 3px solid  #D69494;
	box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
	display: flex;
	justify-content: flex-left;
}
.card1{
	border-style: solid;
	border-color: white;	
	background-image: url(booking.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: .5px .5px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card1:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card2{
	border-style: solid;
	border-color: white;
	background-image: url(pom.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card2:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card3{
	border-style: solid;
	border-color: white;
	background-image: url(socials.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card3:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.card1 a,.card2 a,.card3 a{
	font-size: 32px;
	text-decoration-line: underline;
	width: 100%;
}
.welcome_section{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.biopic{
	border-style: solid;
	border-color: #D69494;	
	background-image: url(IMG_0375.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 450px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 10px 0px;
}
.welcome{
	border-style: solid;
	border-color: #D69494;
	background-color: rgba(255, 255, 255, 0.2);	
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 450px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 80%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 10px 0px;
}
.booking-title h2{
	font-weight: 500;
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px 4px #000000;
	margin-bottom: 5px;
}
.booking-title hr{
	border: none;
	width: 100%;
	height: 5px;
	background-color: #D69494;
	border-radius: 10px;
	margin-bottom: 20px;
}
.contact-inputs{
	width: 300px;
	height: 30px;
	border: 2px solid #D69494;
	outline: none;
	font-weight: 500;
	color: #666;
	border-radius: 50px;
}
.contact-inputs2{
	width: 20px;
	height: 20px;
	border: 2px solid #D69494;
	outline: none;
	font-weight: 500;
	border-radius: 50px;
}
.contact-inputs3{
	width: 300px;
	height: 120px;
	border: 2px solid #D69494;
	outline: none;
	font-weight: 500;
	color: #D69494;
	border-radius: 20px;
}
.contact-inputs:hover{
	border: 3px solid #D69494;
}
.contact-inputs2:hover{
	border: 3px solid #D69494;
}
.contact-inputs3:hover{
	border: 3px solid #D69494;
}
.wrapper{
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 15px;	
}
.cut-out{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	z-index:-1;
	top: -50;
}
.parallax{
	position: absolute;
	width: 100%;
	object-fit: cover;
	transform: translateZ(-15px) scale(2);
	top: 1%;
}
@media(max-width: 800px){
	.hideOnMobile{
		display: none;
	}
	.menu-button{
		display: block;
	}
.cards{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-image: url(background.jpg);
	border-bottom: 3px solid  #D69494;
	box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
}
.card1{
	border-style: solid;
	border-color: white;	
	background-image: url(booking.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: .5px .5px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card1:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card2{
	border-style: solid;
	border-color: white;
	background-image: url(pom.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card2:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card3{
	border-style: solid;
	border-color: white;
	background-image: url(socials.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card3:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.card4{
	border-style: solid;
	border-color: white;	
	background-image: url(facebook.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: .5px .5px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card4:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card5{
	border-style: solid;
	border-color: white;
	background-image: url(instagram.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card5:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.card6{
	border-style: solid;
	border-color: white;
	background-image: url(tiktok.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	border-radius: 5px;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card6:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.contact-inputs{
	width: 80vw;
}
.FormContent{
	width: 85vw;
}
.aftercarecontent{
	width: 85vw;
}
}
@media(max-width: 400px){
	.sidebar{
		width: 100%;
}
}
@media only screen and (min-width: 800px){
.welcome_section{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.biopic{
	border-style: solid;
	border-color: #D69494;	
	background-image: url(IMG_0375.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 450px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 10px 0px;
}
.welcome{
	border-style: solid;
	border-color: #D69494;
	background-color: rgba(255, 255, 255, 0.2);	
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 450px;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 80%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 10px 0px;
}
.card1{
	border-style: solid;
	border-color: white;	
	background-image: url(booking.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: .5px .5px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card1:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.container1{ 
	}
.card2{
	border-style: solid;
	border-color: white;
	background-image: url(pom.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card2:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.container2{
}
.card3{
	border-style: solid;
	border-color: white;
	background-image: url(socials.JPG);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 350px;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card3:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.container3{ 
}	
.card4{
	border-style: solid;
	border-color: white;	
	background-image: url(facebook.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: .5px .5px 4px #000000;
	height: 0;
	padding-bottom: 24%;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card4:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.container1{ 
	}
.card5{
	border-style: solid;
	border-color: white;
	background-image: url(instagram.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 0;
	padding-bottom: 24%;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card5:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
img {
	border-radius: 5px 5px 0 0;
}
.container2{
}
.card6{
	border-style: solid;
	border-color: white;
	background-image: url(tiktok.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	height: 0;
	padding-bottom: 24%;
	margin: 55px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 24%;
	border-radius: 5px;
	float: left;
	display: table-cell;
	padding: 0px 0px;
	align-content: center;
	font-size: 32px;
	text-decoration-line: underline;
	text-decoration-color: white;
}
.card6:hover{
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}
.container3{ 
}	
}
}
